/*
 
*{
     symble * is used for reset or uneversal on ccs file 

        margin: 0;
        padding: 0;

}
*/
 

 
/* =Body */
body{
    background-color: white; /*for background color */
    color:rgb(26, 216, 9); /* color for fonts on page */
   /* font-family: 'Lucida Sans','Lucida Grande', sans-serif; /* font family is to style the text */
   font-size: 18px;     /* To change the size of Fonts*/
   font-weight:bold;     /*To make fonts bolder */

   /*Same as above 
   font: normal 18px 'Lucida Sans','Lucida Grande', sans-serif;
*/
line-height: 1.5em;   /* to adject space between lines*/
margin: 0px;  /* To margin the page */

}

/* To call id we used # symbal */

/*it's Clearn any floats above the previous float */
.clr{
    clear: both;
} 

.container{
    width:80%;
    margin: auto;
}

/* To call class used . symbal */
.box-1{
    background-color:rgb(56, 38, 34);
    color:rgb(243, 254, 255); 
    border-top: 5px red solid;   
    border-right: 5px red solid;   
    border-bottom: 5px red solid;   
    border-left: 5px red solid; 
    
    /* same as above
    border: 5px red solid; */
    border-width: 10px;  /* we can set also set height & width of border*/
    border-bottom-width: 5px; 
    border-top-style:dotted ; /* we can set style for border*/

    /*=padding*/
    margin-top: 25px;
    padding: 20px;

    /* padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px; */
    
}

.box-1 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800px;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    word-spacing: 0.5em;

}

 .box-2{
     border: 3px solid red;
   background-color:rgb(56, 38, 34);
    color:rgb(243, 254, 255);
     margin: 20px 0;
     padding: 20px;  
 }

 /* Link Tags */
 a{
     text-decoration: none;
     color: black;
 }

 a:hover{       /* Hover apply while hovering on link */
     color: red;
 }

 a:active{          /*Active means When we open it */
     color: green;
 }

 a:visited{     /*visited apply when we visited that linked page */
     /* color: yellow; */
 }

 



 /* =Category */
.Category{
    border: 1px solid pink;
    padding: 10px;
    border-radius: 15px;
}

.Category h2{
    text-align: center;
}
.Category ul{
    padding: 0;
    padding-left: 22px;
    list-style: square;
    list-style: none;
}

.Category li{
    padding-bottom: 6px;
    border-bottom: dotted 2px #333;
    list-style-image: url('.//img/checkbox.png');
}

/* =Button */
.button{
    background-color: rgb(70, 203, 207);
    color: white;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    color:black;
    background:red;
}


/*  we can also used button insted of this
.my-form input[type="submit"]{
    background-color: rgb(70, 203, 207);
    color: white;
    padding: 10px 15px;
    border: none;


} */



/* =Form & their style */
.my-form{
    padding:20px;
}

.my-form.form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}
.my-form input[types="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{
    float: left;
    width: 33.3%;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box; /* to make it on same line */

}
/*=Main Block */
#main-block{
    float: left;
    width: 70%;
    background: chartreuse;

}
/*=Side-bar */
#sidebar{
    float:right;
    width: 30%;
    background: rgb(238, 138, 24);
    color: rgb(255, 255, 255);
    padding: 15px;
    box-sizing: border-box;
}
/*= p-box */
.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    background-image: url('img/bgimg.jfif');
/* 
    background-position: 200px 400px; */
    /* background-repeat: no-repeat; */
    background-position: center top;

}

.p-box h1{
    position:absolute;
    top: 100px;
    left: 200px;

}

.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}

/* To Fin anything on page*/
.fix-me{
    position:fixed ;
    top: 400px;
}

/* = Sudo codes*/
.my-list li:first-child{
    background: red;
}

.my-list li:last-child{
    background:green;
}

.my-list li:nth-child(5){
    background: yellow;

}

.my-list li:nth-child(even){
    background:pink;
}